VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_API_URL=
VITE_PORTFOLIO_URL=
LLM_ENCRYPTION_KEY=

BOLT_TEST_USER_EMAIL=bolt-test-1778087309269@test.local
BOLT_TEST_USER_PASSWORD=_VNsK041iSc_6oaN4oxo6y9e
